.user-profile{
    text-align: center;
    background-color: rgb(171, 192, 185);
    height: 100%;
    width:100%;

}
.user-profile img{
    display: block;
    margin: auto;
    border-radius:50%;
    border: 7px solid rgb(191, 222, 191);
}

.user-profile h5, .user-profile p{
    padding:8px;
    margin-bottom: 0;
}